@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 50% 93%;
    --foreground: 224 71% 4%;
    --card: 180 50% 99%;
    --card-foreground: 224 71% 4%;
    --popover: 180 50% 99%;
    --popover-foreground: 224 71% 4%;
    --primary: 180 42% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 180 40% 88%;
    --secondary-foreground: 224 71% 10%;
    --muted: 180 40% 88%;
    --muted-foreground: 180 20% 45%;
    --accent: 180 56% 66%;
    --accent-foreground: 224 71% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 30% 80%;
    --input: 180 30% 85%;
    --ring: 180 42% 52%;
    --chart-1: 180 50% 60%;
    --chart-2: 180 60% 50%;
    --chart-3: 180 70% 40%;
    --chart-4: 180 80% 30%;
    --chart-5: 180 90% 20%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 224 71% 4%;
    --sidebar-primary: 180 42% 52%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 180 50% 93%;
    --sidebar-accent-foreground: 224 71% 4%;
    --sidebar-border: 180 30% 88%;
    --sidebar-ring: 180 42% 52%;
  }
  .dark {
    --background: 200 20% 7%;
    --foreground: 180 20% 95%;
    --card: 200 20% 10%;
    --card-foreground: 180 20% 95%;
    --popover: 200 20% 10%;
    --popover-foreground: 180 20% 95%;
    --primary: 180 42% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 200 20% 15%;
    --secondary-foreground: 180 20% 95%;
    --muted: 200 20% 15%;
    --muted-foreground: 180 20% 60%;
    --accent: 180 56% 66%;
    --accent-foreground: 224 71% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 200 20% 20%;
    --input: 200 20% 20%;
    --ring: 180 42% 52%;
    --chart-1: 180 50% 60%;
    --chart-2: 180 60% 50%;
    --chart-3: 180 70% 40%;
    --chart-4: 180 80% 30%;
    --chart-5: 180 90% 20%;
    --sidebar-background: 200 20% 5%;
    --sidebar-foreground: 180 20% 95%;
    --sidebar-primary: 180 42% 52%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 200 20% 12%;
    --sidebar-accent-foreground: 180 20% 95%;
    --sidebar-border: 200 20% 15%;
    --sidebar-ring: 180 42% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
